<!doctype html>
<html>
<!-- v-model其實是一個語法糖，他的背後本質上是包含兩個操作：v-bind綁定一個value屬性 跟 v-on指令給當前元素綁定的input事件
(v-model參考影片： https://www.bilibili.com/video/BV15741177Eh?p=46&spm_id_from=pageDriver ) -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/vue.js"></script>
</head>

<body>
    <div id="app">
       <!--  往後端提交的時後，都是以name屬性為key往後傳!!!可參下影片第三分鐘
https://www.bilibili.com/video/BV15741177Eh?p=47&spm_id_from=pageDriver -->
<!-- 前端的value會傳值給下面data中的sex值，他們之間用v-model做關連，而name的sex則是送後端時的關連 -->
        <label for="male">
            <input type="radio" id="male" name="sex" value="男" v-model="sex">男
        </label>
        <label for="male">
            <input type="radio" id="female" name="sex" value="女" v-model="sex">女
        </label>
        <h2>選擇的性別是：{{sex}}</h2>
    </div>
    <!-- v-on 監聽，其實可以直接用 @ 取代…就是個語法糖-->
    <!-- v-bond 綁定，可以用: -->


    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: '你好阿',
                sex:''
            }
        })

    </script>

</body>


</html>